.KeyboardLetter {
  background-color: var(--color-3);
  color: var(--color-2);

  border-radius: 8px;
  width: 30px;
  height: 45px;
  margin: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;
}

.KeyboardLetter p {
  margin: 0;
}

.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboardRow {
  display: flex;
}
