.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WordleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.KeyboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid var(--color-3);
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  .WordleContainer {
    height: 80vh;
  }

  .KeyboardContainer {
    height: 20vh;
  }
}
