:root {
  --color-1: #011627;
  --color-2: #f0eff4;
  --color-3: #8e98a4;
  --color-4: #de9151;
  --color-5: #61e786;
}

.WordleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 80vh;
}

.KeyboardContainer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
