.WordleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 80vh;
}

.KeyboardContainer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid var(--color-3);
  box-sizing: border-box;
}
