:root {
  --color-1: #011627;
  --color-2: #f0eff4;
  --color-3: #8e98a4;
  --color-4: #de9151;
  --color-5: #61e786;
}

#root,
html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-1);
  background-color: var(--color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
